<!DOCTYPE html>
<html>
	<head>
		<title>Seth Dolin's Website</title>
	</head>
	<body>
		<p>
			<h1>Hello Seth</h1>
			<p>
				<h4>Would you like to view your </h4><a href="http://seth.herokuapp.com/tasks?user_id=1"><h4>Tasks</h4></a><h4>?</h4>
				<h4>Or perhaps yo want to see funny pictures of </h4><a href="https://www.google.com/search?q=kitteh&safe=active&source=lnms&tbm=isch&sa=X&ei=TSJoUrGCNIaSyAGml4DAAw&ved=0CAkQ_AUoAQ&biw=1241&bih=606"><h4>Kittens</h4></a><h4>?</h4>
			</p>
		</p>
	</body>
</html>>